<h1 *ngFor="let t of [1,2,3,4,5]">
  <div *ngIf="t % 2 === 0">
    ES PAR
  </div>
</h1>


<button>MATERIAL</button>
<button mat-raised-button color="primary">MATERIAL</button>
<button mat-stroked-button color="primary">MATERIAL</button>
<button mat-button color="primary">MATERIAL</button>
<button mat-flat-button color="accent">MATERIAL</button>
<button mat-flat-button color="warn">MATERIAL</button>

<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
  <mat-icon>account_circle</mat-icon>
</button>


<mat-checkbox color="primary">Click aquí</mat-checkbox>


<div class="blue-theme light">
  <button>MATERIAL</button>
  <button mat-raised-button color="primary">MATERIAL</button>
  <button mat-stroked-button color="primary">MATERIAL</button>
  <button mat-button color="primary">MATERIAL</button>
  <button mat-flat-button color="accent">MATERIAL</button>
  <button mat-flat-button color="warn">MATERIAL</button>
  <mat-spinner></mat-spinner>
  <mat-checkbox color="primary">Click aquí</mat-checkbox>
</div>
<div class="blue-theme dark">
  <button>MATERIAL</button>
  <button mat-raised-button color="primary">MATERIAL</button>
  <button mat-stroked-button color="primary">MATERIAL</button>
  <button mat-button color="primary">MATERIAL</button>
  <button mat-flat-button color="accent">MATERIAL</button>
  <button mat-flat-button color="warn">MATERIAL</button>
  <mat-spinner></mat-spinner>
  <mat-checkbox color="primary">Click aquí</mat-checkbox>
</div>
<div class="green-theme">
  <button>MATERIAL</button>
  <button mat-raised-button color="primary">MATERIAL</button>
  <button mat-stroked-button color="primary">MATERIAL</button>
  <button mat-button color="primary">MATERIAL</button>
  <button mat-flat-button color="accent">MATERIAL</button>
  <button mat-flat-button color="warn">MATERIAL</button>

  <mat-checkbox color="primary">Click aquí</mat-checkbox>
</div>