<div class="header">
    <h2 class="ma-0 title w700">Bienvenido Sergio</h2>
    <h1 class="ma-0 title w700">Dashboard Principal</h1>
</div>


<div class="dash" fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column wrap">
        <div fxFlex class="section" fxLayout="column wrap">
            <div fxFlex class="card">Section 1</div>
        </div>
        <div fxFlex class="section" fxLayout="column wrap">
            <div fxFlex class="card">Section 2</div>
        </div>
    </div>
    <div class="section" fxFlex.gt-sm="50" fxFlex="100" fxLayout="column wrap">
        <div fxFlex class="card">
            CALENDARIO
        </div>
    </div>
</div>