.logo { width: 100%; }
.userimage { width: 50px; border-radius: 20px; }
.brand, .user, .button { padding: 10px 15px;}
.btn { width: 100%; border-radius: 20px; }
mat-sidenav-container#mainapp {
    height: calc(100vh);
    // overflow: hidden;
}
.round-menu { border-radius: 20px; }
.round {
    border-radius: 30px;
    margin: 10px;
    overflow: hidden;
    background-image: url('https://img.freepik.com/free-vector/beautiful-gradient-spring-landscape_23-2148448598.jpg?w=2000');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.badge { font-size: 10px; color: white; background-color: var(--color-primary); width: 16px; height: 16px; text-align: center; border-radius: 10px; }